:root {
    --color-primary: mediumorchid;
    --color-primary-light: #e28fdf;
    --color-muted: #6d4a6d;
    --color-error: #da7470;
    --color-error-fg: #000;
    --color-background: #0d030c;
    --color-surface0: #130512;
    --color-surface1: #190718;
    --color-surface2: #220921;
    --color-surface3: #2c0b2b;
    --color-surface4: #3c0f3a;
    --color-text: #eeeafe;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
}

button, input {
    font: inherit;
}
