:root {
    --color-primary: mediumorchid;
    --color-primary-light: #e28fdf;
    --color-muted: #6d4a6d;
    --color-outline: #906290;
    --color-error: #da7470;
    --color-error-fg: #000;
    --color-background: #1e101e;
    --color-surface0: #231023;
    --color-surface1: #2e142c;
    --color-surface2: #341832;
    --color-text: #eeeafe;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

body {
    position: relative;
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
}

button, input {
    font: inherit;
}
