:root {
    --color-primary: #50c7dc;
    --color-primary-light: #28b1c9;
    --color-muted: #527280;
    --color-outline: #60869f;
    --color-error: #da7470;
    --color-error-text: #181e25;
    --color-background: #151a28;
    --color-surface0: #1e2539;
    --color-surface1: #273049;
    --color-surface2: #2f3b5a;
    --color-text: #eafafe;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

body {
    position: relative;
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
}

button, input {
    font: inherit;
}

hr {
    width: 100%;
    margin-block: 1.5rem;
    border-color: var(--color-outline);
}

.empty-label {
    color: var(--color-muted);
    text-align: center;
}

